<html>
  <head>
    <title>Trends</title>
  </head>
  <body>
    <h1>Trends</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>machine learning</th>
          <th>deep learning</th>
        </tr>
      </thead>
      <tbody>
        {% for row in trends.iterrows() %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1]["machine learning"] }}</td>
            <td>{{ row[1]["deep learning"] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
